/* main{
    background-color: blue;
    height: 400px;
    width: 400px;
    position: relative;
    margin-left: 400px;
  margin-top: 300px;
  margin-bottom: 300px;
  margin-left: 600px;

}
sub1{
    background-color: black;
    position: absolute;
    width: 250px;
    height: 250px;
}
sub2{
    background-color: red;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 250px;
    height: 250px;
} */
/* body{
    background-image:url(alien.jpeg);
    background-repeat:repeat-y;
     background-attachment:scroll;
     background-position: top left;
} */
 /* short cuts */
/* body{
background: url(alien.jpeg) no-repeat scroll top right;
} */
 /* h1{
border-style:dashed solid ;
border-radius: 50px;
border-right-color: rgb(255, 27, 27);
border-left-color: blue;
} */
 /* h1{
    text-align: justify;
    border-style: solid;
    margin: auto;
    padding:0%;
    height: 200px;
    width: 300px;
    

 }
 h1 span{
    /* vertical-align: sub; */
    /* vertical-align: super; */
    /* vertical-align:;
 }
a{
    text-decoration:line-through;
} */ 
 h1 {
    /* text-transform: lowercase; */
    /* text-transform: capitalize;*/
    /* text-transform: inherit; */
    /* text-transform: initial; */
   
 }
 body p{
/* text-indent: 150px; */
/* letter-spacing: 10px; */
/* letter-spacing: -2px; */
line-height: 0.8;
font-weight: 900;
 }
 .sm-sp{
    line-height: 1.8;
    text-indent: 200em;
    text-shadow: 1px 1px 2px black,0px 0px 25px red,0 0 50px whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    /* font-size: 40px; */
    /* font-size: 4.3em; */
    /* font-size: 6.1vw; */
    font-weight: 900;

 }
 .bg-sp{
    line-height: 2.8;
    text-indent: 400em;

 }
 table{
    width: 100%;
    /* text-align: center; */
    border: dashed 1px ;
    height: 300px;
 }
table,th,td{
    /* border: 2px solid; */
    border-collapse:collapse;
}
th{
    text-align:left;
    text-shadow: 1px 1px 25px red,0px 0px 50px wheat;
    font-size: 30px;
}
td{
    text-align: center;
    font-size:medium;
}
th,td{
    padding: 15px;
    border-bottom: 1px solid #d81717;
    
}
tr:nth-child(odd) {background-color: #f2f2f2;}
