.main{
    background-color: red;
    height: 300px;
    width: 400px;
    position: relative;
    margin-top:15%;
    margin-left:40%;
    margin-right:40%;
}
.sub1{
 background-color: green;
 height: 150px;
 border:20%;
 width: 200px;
 position: absolute;
 bottom: 75px;
 left: 100px;
 top: 75px;
}
.sub2{
    background-color: blue;
    height: 75px;
    width: 100px;
    position: absolute;
    bottom: 34.5px;
    left: 50px;
    top: 60px;
    margin-top: 60px;
    margin-left: 100px;
    border-width:5px ;
    border-color: black;
    border-style:solid;

}