body{
    background-color: rgb(189, 199, 247);
}
h1{
    color: rgb(142, 151, 151);
}
h2{
    color: rgb(255, 0, 0);
}
.a1,h3{
    background-color: rgb(150, 150, 127);
    font-style: italic;
    color: cornsilk;
}
h3{
    background-color:rgb(169, 233, 167);
}
p{
    background-color: floralwhite;
}
